<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Puzzle</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/puzzle.css">
    <script src="../js/storage.js"></script>
</head>
<body>
    <a href="../index.html">Volver</a>
    <div class="container">
        <div class="row">
            <div class="col-12"><span id="cronometro">00:00:00</span></div>
        </div>
        <div class="row justify-content-center">
            <div id="tablero">
                <div class="contiene-ficha" data-contenedor="0"><div class="ficha" id="ficha-0" data-numficha="0"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="1"><div class="ficha" id="ficha-1" data-numficha="1"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="2"><div class="ficha" id="ficha-2" data-numficha="2"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="3"><div class="ficha" id="ficha-3" data-numficha="3"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="4"><div class="ficha" id="ficha-4" data-numficha="4"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="5"><div class="ficha" id="ficha-5" data-numficha="5"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="6"><div class="ficha" id="ficha-6" data-numficha="6"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="7"><div class="ficha" id="ficha-7" data-numficha="7"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="8"><div class="ficha" id="ficha-8" data-numficha="8"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="9"><div class="ficha" id="ficha-9" data-numficha="9"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="10"><div class="ficha" id="ficha-10" data-numficha="10"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="11"><div class="ficha" id="ficha-11" data-numficha="11"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="12"><div class="ficha" id="ficha-12" data-numficha="12"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="13"><div class="ficha" id="ficha-13" data-numficha="13"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="14"><div class="ficha" id="ficha-14" data-numficha="14"><img src="" alt="" class="foto"></div></div>
                <div class="contiene-ficha" data-contenedor="15"><div class="ficha" id="ficha-15" data-numficha="15"><img src="" alt="" class="foto"></div></div>
            </div>
        </div>
    </div>
    <script src="../js/puzzle.js"></script>
</body>
</html>